body {
    background-image: url(https://subtlepatterns.com/patterns/funky-lines.png);
    
    }

.container {
    text-align: center;
    margin-top: 20px;
    border-radius: 4px;
    margin-top:20px;
    background-color:rgb(252, 252, 252);
    border: 1px solid rgb(175, 175, 175);
}


.trivia-game {
margin-top:20px;
font-family: 'Handlee', cursive;
}

.timer-button {
    border: 1px solid rgb(143, 248, 222);
    text-align: center;
    margin: 20px 43% 0 43%;
    padding: 10px 0 10px 0;
    border-radius: 3px;
    background-color:rgb(173, 253, 220);
    font-family: 'Roboto Condensed', sans-serif;


}

.submit-button {
margin-bottom:70px;
font-family: 'Roboto Condensed', sans-serif;
border-radius: 6px;
}

img {
    height:478px;
    float:left;
    margin-top: -464px;
    margin-left:2%;

}

.questions {
    font-family: 'Arima Madurai', cursive;
    margin-top: 30px;
}

.instructions {
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid rgb(206, 206, 206);
}